<?xml version="1.0" encoding="utf-8"?>
<root>
  <savepath>/home/ltp/GNSS</savepath>
  <resultpath>/home/ltp/GNSS</resultpath>
  <pairs>
    <pair>
      <device>
        <id>67161949555780670670FF52</id>
        <ip>192.168.88.5</ip>
        <port>5566</port>
        <type>rover</type>
	<mode>static</mode>
        <lat>37.519403750</lat>
        <lon>122.042180417</lon>
        <height>6.1500</height>
      </device>
      <device>
        <id>8719512552536752066EFF53</id>
        <ip>192.168.88.6</ip>
        <port>5566</port>
        <type>base</type>
	<mode>static</mode>
        <lat>37.408400528</lat>
        <lon>122.218363917</lon>
        <height>69.40</height>
      </device>
    </pair>
  </pairs>
</root>
