<?xml version="1.0" encoding="utf-8"?>
<root>
  <savepath>E:/GNSS/</savepath>
  <resultpath>E:/GNSS/</resultpath>
  <pairs>
    <pair>
      <device>
        <id>67161949555780670670FF52</id>
        <ip>192.168.88.5</ip>
        <port>5566</port>
        <type>rover</type>
        <lat>37.518611111</lat>
        <lon>122.042777778</lon>
        <height>20.0000</height>
      </device>
      <device>
        <id>8719512552536752066EFF53</id>
        <ip>192.168.88.6</ip>
        <port>5566</port>
        <type>base</type>
        <lat>37.518611111</lat>
        <lon>122.042777778</lon>
        <height>20.0000</height>
      </device>
    </pair>
  </pairs>
</root>